.top_cat
{
	border: 0px solid black;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.top_cat_pro
{
	border: 0px solid red;
	width:  370px;
	height: 470px;
	float: left;
	margin-top: 20px;
	margin-bottom: 20px;
	box-shadow: 5px 5px 5px 5px black;
	transition: transform 1s;
}
.top_cat_pro:hover
{
	transform: scale(1.05);
}
.top_cat_pro img
{
	width: 100%;
	height: 80%;
}
.checked
{
	color: orange;
}
.starr
{
	border: 0px solid black;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.title p
{
	text-align: center;
}

.btn
{
	border: 0px solid green;
	height: 40px;
	display: flex;
	justify-content:center;
	align-items: center;
}	

.btn input
{
	height: 40px;
	width: 130px;
	border-radius: 10px;
	border: 0;
	background-color: orange;
	font-size: 20px;
	box-shadow: 3px 3px 3px 3px black;
}

.btn input:hover
{
	background-color: Green;
	color: white;
	
}

.title b
{
	color: green;
	font-size: 20px;
}
